@using policlinico__con_migracion.Models
@model IEnumerable<BaseHistoryVM>
@{
    ViewBag.Title = "Log";
}

<h2>Audit History</h2>

<div class="history-block">
    <div id="historyList">
        @Html.DisplayForModel()
    </div>
</div>
