@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> POLICLINICO DIVINO NIÑO</h1>
    <div class="panel panel-default">

        <img src="~/Content/img/hospital2.jpg" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pagina de el policlinico</h2>
       
        <p><a class="btn btn-default" href="http://http://www.policlinicodivinonino.com.pe/">Informate  &raquo;</a></p>
    </div>
 
</div>